{{!< main }}

<link rel="stylesheet" type="text/css" href="../CSS/cvEditor.css"></main>

{{> header}}



    {{#if cvData}}
        
    <form class="signup" action="/cv/edit2" enctype="multipart/form-data" method="post">   
        
        <label class='signup'>Summary</label><br>
        <input class='signup' type="text" name="summary" placeholder="This is a short summary of your CV that shows up on the homepage" value="{{cvData.summary}}"><br>
        
        <label class='signup'>Career Objective:</label><br>
        <input class='signup' type="text" name="careerObj" placeholder="Please enter what your potential employer would like to here about you" value="{{cvData.careerObj}}"><br>

        <label class='signup'>Career Summary:</label><br>
        <input class='signup' type="text" name="careerSum" placeholder="This is an indroduction to who you are, also add skills that you have that relate to the job" value="{{cvData.careerSum}}"><br>

        <label class='signup'>Work Experience:</label>
        <input class='signup' type="text" name="workExperience" placeholder="Please enter any Work Experince you might have had (Optional)" value= "{{cvData.workExperience}}">

        <label class='signup'>Personal Skills:</label><br>
        <input class='signup' type='text' name="personalSkills" placeholder="Please enter your personal skills" value="{{cvData.personalSkills}}"><br>
        
        <label class='signup'>Education:</label><br>
        <input class='signup' type='text' name="education" placeholder="Please enter all of your qualifications" value="{{cvData.education}}"><br>

        <label class='signup'>References:</label><br>
        <input class='signup' type='text' name="references" placeholder="Please enter any references you have" value="{{cvData.ref}}"><br>

        <input id='create' class='signup' type="submit" value="Create">

    </form>
    {{else}}

    <form class="signup" action="/cv/edit2" enctype="multipart/form-data" method="post">    
        
        <label class='signup'>Summary</label><br>
        <input class='signup' type="text" name="summary" placeholder="This is a short summary of your CV that shows up on the homepage"><br>

        <label class='signup'>Career Objective:</label><br>
        <input class='signup' type="text" name="careerObj" placeholder="Please enter what your potential employer would like to here about you"><br>

        <label class='signup'>Career Summary:</label><br>
        <input class='signup' type="text" name="careerSum" placeholder="This is an indroduction to who you are, also add skills that you have that relate to the job" ><br>

        <label class='signup'>Work Experience:</label>
        <input class='signup' type="text" name="workExperience" placeholder="Please enter any Work Experince you might have had (Optional)" value= ><br>

        <label class='signup'>Personal Skills:</label><br>
        <input class='signup' type='text' name="personalSkills" placeholder="Please enter your personal skills" ><br>
        
        <label class='signup'>Education:</label><br>
        <input class='signup' type='text' name="education" placeholder="Please enter all of your qualifications" ><br>

        <label class='signup'>References:</label><br>
        <input class='signup' type='text' name="references" placeholder="Please enter any references you have" ><br>
    
        <input id='create' class='signup' type="submit" value="Create">

    
    </form>
    {{/if}}

    

</form>



{{> footer}}