{{!< main }}

<link rel="stylesheet" type="text/css" href="../CSS/cvEditor.css">

{{> header}}

{{#if cvData}}
<form class="signup" action="/cv/edit" enctype="multipart/form-data" method="post">

    <label class='signup'>Name:</label><br>
    <input class='signup' type="text" name="name" placeholder="Your fullname" value="{{cvData.name}}"><br>

    <label class='signup'>Address Line 1:</label><br>
    <input class='signup' type="text" name="addressLine1" placeholder="Address line 1" value="{{cvData.addressLine1}}"><br>

    <label class='signup'>Address Line 2:</label><br>
    <input class='signup' type="text" name="addressLine2" placeholder="Address line 2" value="{{cvData.addressLine2}}"><br>

    <label class='signup'>Postcode:</label><br>
    <input class='signup' type="text" name="postcode" placeholder="Postcode" value="{{cvData.postcode}}"><br>

    <label class='signup'>Country:</label><br>
    <input class='signup' type="text" name="country" placeholder="Country" value="{{cvData.country}}"><br>

    <label class='signup'>References:</label><br>
    <input class='signup' type="text" name="references" placeholder="References" value="{{cvData.ref}}"><br>

    <label class='signup'>Skills:</label><br>
    <input class='signup' type="text" name="skills" placeholder="Skills" value="{{cvData.skills}}"><br>

    <label class='signup'>Summary</label>
    <input class='signup' type="text" name="summary" placeholder="A short summary of your CV displayed on the home page" value= "{{cvData.summary}}">

    <a class="editButton" type='submit' href='/cv/edit2'>Edit CV</a>

</form>
{{else}}

<form class="signup" action="/cv/edit" enctype="multipart/form-data" method="post">

    <label class='signup'>Name:</label>
    <input class='signup' type="text" name="name" placeholder="Your fullname">

    <label class='signup'>Address Line 1:</label><br>
    <input class='signup' type="text" name="addressLine1" placeholder="Address line 1" ><br>

    <label class='signup'>Address Line 2:</label><br>
    <input class='signup' type="text" name="addressLine2" placeholder="Address line 2" ><br>

    <label class='signup'>Postcode:</label><br>
    <input class='signup' type="text" name="postcode" placeholder="Postcode" ><br>

    <label class='signup'>Country:</label><br>
    <input class='signup' type="text" name="country" placeholder="Country"><br>

    <label class='signup'>References:</label><br>
    <input class='signup' type="text" name="references" placeholder="References"><br>

    <label class='signup'>Skills:</label><br>
    <input class='signup' type="text" name="skills" placeholder="Skills" >

    
    <label class='signup'>Summary</label>
    <input class='signup' type="text" name="summary" placeholder="A short summary of your CV displayed on the home page">

    <label class="signup"><i class=" fa fa-photo"></i> Profile picture:</label>
    <input type="file" name="fileToUpload" >
    
    <a class="editButton" type='submit' href='/cv/edit2'>Edit CV</a>

</form>
{{/if}}

{{> footer}}

