{{!< main }}

{{> header}}


<div style="padding-top: 100px;">

  {{#if cvData}}
    <form class="editor" action="/cv/edit" enctype="multipart/form-data" method="post">

      <h2 class="editH">Build your personal CV.</h2>

      <label class='editor'>Name:</label>
      <input class='editor' type="text" name="name" placeholder="Your fullname" value="{{cvData.name}}">

      <label class='editor'>Address:</label>
      <input class='editor' type="text" name="address" placeholder="Address line" value="{{cvData.addressLine1}}">
      
      <label class='postt'>Post Code:</label>
      <input class="post" type="text" name='post code' placeholder="Your post code" value="{{cvData.postcode}}" >

      <label class='editor'>Country:</label>
      <input class="editor" type="text" name='country' placeholder="Your country" value="{{cvData.country}}" >

      <label class='editor'>Skills:</label>
      <input class="editor" type="text" name='country' placeholder="Your skills" value="{{cvData.skills}}" >
      
      <label class='summary'>Summary</label>
      <input class='editor' type="text" name="summary" placeholder="A short summary of your CV displayed on the home page" value="{{cvData.summary}}">

  
      
      

      <input class='editor' type="submit" value="edit">

    </form>
  {{else}}

      <form class="editor" action="/cv/edit" enctype="multipart/form-data" method="post">

      <h2 class="editH">Build your personal CV.</h2>

      <label class='editor'>Name:</label>
      <input class='editor' type="text" name="name" placeholder="Your fullname" value="{{cvData.name}}">

      <label class='editor'>Address:</label>
      <input class='editor' type="text" name="address" placeholder="Address line" value="{{cvData.addressLine1}}">
      
      <label class='postt'>Post Code:</label>
      <input class="post" type="text" name='post code' placeholder="Your post code" value="{{cvData.postcode}}" >

      <label class='editor'>Country:</label>
      <input class="editor" type="text" name='country' placeholder="Your country" value="{{cvData.country}}" >

      <label class='editor'>Skills:</label>
      <input class="editor" type="text" name='country' placeholder="Your skills" value="{{cvData.skills}}" >
      
      <label class='summary'>Summary</label>
      <input class='editor' type="text" name="summary" placeholder="A short summary of your CV displayed on the home page" value="{{cvData.summary}}">

      <label class='upload'> Upload Picture:</label>
      <input class="editor" type="file" name="fileToUpload">
      
      

      <input class='editor' type="submit" value="Create">

    </form>
  {{/if}}

</div>

{{> footer}}
