{{!< main }}

{{> header}}
<span class="index-content">

<h1>Welcome to Student CV's <br>
  Our CV templates &amp; recruiter-approved examples make it easy.</h1>

<span style="grid-template-columns: auto auto auto; grid-template-rows: auto; display: grid; grid-column-gap: 10px; grid-row-gap: 15px; margin: 50px; justify-items: center; align-items: center;">

  {{#if data}}
    {{#each cv}}

      <span style="display: grid; grid-template-columns: auto; grid-template-rows: 20px 20px 40px; grid-row-gap: 5px; grid-column-gap: 5px; border: 3px solid rgb(84, 124, 160); justify-items: center;">
      <span>
        <img class="avatar" src="avatars/{{this.avatarName}}">
      </span>
      <span>
        <label>{{this.name}}</label>
      </span>
      <span > 
        <form action="/cv/view/{{this.userID}}" enctype="multipart/form-data"  method="POST">
             <label>This is short summary.</label>
             <a href="/cv/view/{{this.userID}}"><input type="submit" value="Click to see more!" ></a>
        </form>
      </span>
    </span>


    {{/each}}
  {{else}}
    {{#each cv}}

      <span style="display: grid; grid-template-columns: auto; grid-template-rows: 20px 20px 40px; grid-row-gap: 5px; grid-column-gap: 5px; border: 3px solid rgb(84, 124, 160);">
      <span>
        <img class="avatar" src="avatars/{{this.avatarName}}">
      </span>
      <span>
        <label>{{this.name}}</label>
      </span>
      <span>
        <label>This is short summary.</label><a href="/cv/view/{{this.userID}}"> Click to see more!</a>
      </span>
    </span>

    {{/each}}
  {{/if}}

</span>

</span>
{{> footer}}
