{{!< main }}

{{> header}}

<h1>Welcome to Student CV's <br>
Our CV templates &amp; recruiter-approved examples make it easy.</h1>

{{#if data}}
{{#each cv}}


        <table class="summary">
                <thead>
                        <tr>
                            <th><img class="avatar" src="avatars/{{this.avatarName}}"></th>
                        </tr>
                        <tr>
                                <th class="head">{{this.name}}</th>
                        </tr>
                </thead>
                <tfoot>
                        <tr>
                                <td></td>
                        </tr>
                </tfoot>
                <tbody>
                        <tr>
                                <td> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                <a href="/cv/view/{{this.userID}}"> Click to see more!</a>
                                </td>
                        </tr>
                </tbody>
                </tr>
        </table>

{{/each}}
{{else}}
{{#each cv}}

        <table class="summary">
                <thead>
                        <tr>
                                <th class="head">{{this.name}}</th>
                        </tr>
                </thead>
                <tfoot>
                        <tr>
                                <td></td>
                        </tr>
                </tfoot>
                <tbody>
                        <tr>
                                <td>{{this.summary}}</td>
                        </tr>
                </tbody>
                </tr>
        </table>

{{/each}}
{{/if}}
{{> footer}}
