{{!< main }}

{{> header}}
<span class="index-content">

<h1>Welcome to Student CV's <br>
  Our CV templates &amp; recruiter-approved examples make it easy.</h1>

<span id="index-cv-template">

  {{#if data}}
    {{#each cv}}

      <span class="each-cv">
      <span class="block-element">
        <img class="avatar" src="avatars/{{this.avatarName}}" onerror="this.src='avatars/avatar.png'">
      </span>
      <span class="block-element">
        <label>{{this.name}}</label>
      </span>
<<<<<<< HEAD
      <span > 
        <form action="/cv/view/{{this.userID}}" enctype="multipart/form-data"  method="POST">
             <label>This is short summary.</label>
             <a href="/cv/view/{{this.userID}}"><input type="submit" value="Click to see more!" ></a>
        </form>
=======
      <span class="block-element">
        <label>{{this.summary}}</label><a href="/cv/view/{{this.userID}}"> Click to see more!</a>
>>>>>>> 2b3a8304ef9bdb27c944fc6cc47bd59158dcc0dd
      </span>
    </span>


    {{/each}}
  {{else}}
    {{#each cv}}

      <span class="each-cv">
      <span class="block-element">
        <img class="avatar" src="avatars/{{this.avatarName}}" onerror="this.src='avatars/avatar.png'">
      </span>
      <span class="block-element">
        <label>{{this.name}}</label>
      </span>
      <span class="block-element">
        <label>{{this.summary}}</label>
      </span>
    </span>

    {{/each}}
  {{/if}}

</span>

</span>
{{> footer}}
