{{!< main }}
<link rel="stylesheet" type="text/css" href="../../CSS/myCV.css">

{{> header}}

<div style="padding-top: 83px;">

  
    {{#if user}}
      {{#if cvData}}
      <section class='cv'>

        <nav id="nav2">
          <ul>
                <li><a id="A" href='/cv/edit'>Edit CV</a></li>
                <li><a id="B" href="/seenBy">Contacted by</a></li>
          </ul>
        </nav>
          {{else}}
            <nav id="nav2">
          <ul>
              <li><a id="A" href='/cv/edit'>Create CV</a></li>
          </ul>
        </nav>
          {{/if}}
        {{else}}
          <nav id="nav2">
          <ul>
              <li><a id="A" href="/contact?toId={{toId}}&name={{cvData.name}}">Contact</a></li>
          </ul>
        </nav>
        {{/if}}
    
    {{#if cvData}}  
    <div class="main">
        <h2 class="cvTitle">
          {{cvData.name}}
        </h2>
        <section class="cvAddress">
          <p>Address: {{cvData.addressLine1}}</p>
          <p>{{cvData.addressLine2}}</p>
          <p>Post Code: {{cvData.postcode}}</p>
          <p>Country: {{cvData.country}}</p>
          <p>Phome Number: {{cvData.phoneNumber}}</p>
        </section>
        <section class="cvDetails">
      
          <h3 id="PP">Personal profile</h3>
          <p>{{cvData.careerObj}}</p>
          <p>{{cvData.careerSum}}</p>
          <br/>
          <h3 id="Sk">Skills</h3>
          <p>{{cvData.personalSkills}}</p>
          <br/>
          <h3 id="WE">Work experience</h3>
          <p>{{cvData.workExperience}}</p>
          <br/>
          <h3 id="Ed">Education</h3>
          <p>{{cvData.education}}</p>
          <br/>
          <h3 id="Ref">References</h3>
          <p>{{cvData.ref}}</p>
      </section>
      </div>
      {{/if}}
</section>

</div>

{{> footer}}
