{{!< main }}
<link rel="stylesheet" type="text/css" href="../../CSS/myCV.css">

{{> header}}

<div style="padding-top: 100px;">

  <h2 class="cvTitle">
    {{cvData.name}}
  </h2>
  <section>
    {{cvData.addressLine1}}<br>
    {{cvData.addressLine2}}<br>
    {{cvData.postcode}}<br>
    {{cvData.country}}

  </section>
  <section >
    {{careerObj}}
    {{carerrSum}}
  </section>

  {{#if user}}
    {{#if cvData}}
      <a class="editButton" href='/cv/edit'>Edit CV</a>
      <a class="editButton" href="/seenBy">seen</a>
    {{else}}
      <a class="editButton" href='/cv/edit'>Create CV</a>
    {{/if}}
  {{else}}
    <a class="editButton" href="/contact?toId={{toId}}&name={{cvData.name}}">Contact</a>
  {{/if}}

</div>

{{> footer}}
