{{!< main }}
<link rel="stylesheet" type="text/css" href="../../CSS/myCV.css">

{{> header}}

<div style="padding-top: 100px;">

  <h2 class="cvTitle">
    {{cvData.name}}
  </h2>
  <h2 class="cvAddress">
    {{cvData.addressLine1}}<br>
    {{cvData.addressLine2}}<br>
    {{cvData.postcode}}<br>

    {{cvData.country}}

  </h2>
  <h2 class="cvDetails">
    {{cvData.details}}
  </h2>

  {{#if user}}
    {{#if cvData}}
      <a class="editButton" href='/cv/edit'>Edit CV</a>
      <a class="editButton" href="/seenBy">seen</a>
    {{else}}
      <a class="editButton" href='/cv/edit'>Create CV</a>
    {{/if}}
  {{else}}
    <a class="editButton" href="/contact?toId={{toId}}">Contact</a>
  {{/if}}

</div>

{{> footer}}
