{{!< main }}
<link rel="stylesheet" type="text/css" href="../../CSS/myCV.css">

{{> header}}

<div style="padding-top: 100px;">
<section class='cv'>
  
    <h2 class="cvTitle">
      {{cvData.name}}
    </h2>
    <section class="cvAddress">
      <p>{{cvData.addressLine1}}</p>
      <p>{{cvData.addressLine2}}</p>
      <p>{{cvData.postcode}}</p>
      <p>{{cvData.country}}</p>
      <p>{{cvData.phoneNumber}}</p>
    </section>
    <section class="cvDetails">
  
      <h3>Personal profile</h3>
      <p>{{cvData.careerObj}}</p>
      <p>{{cvData.careerSum}}</p>
      <br/>
      <h3>Skills</h3>
      <p>{{cvData.personalSkills}}</p>
      <br/>
      <h3>Work experience</h3>
      <p>{{cvData.workExperience}}</p>
      <br/>
      <h3>Education</h3>
      <p>{{cvData.education}}</p>
      <br/>
      <h3>References</h3>
      <p>{{cvData.ref}}</p>
    </section>
  
    {{#if user}}
      {{#if cvData}}
        <a class="editButton" href='/cv/edit'>Edit CV</a>
        <a class="editButton" href="/seenBy">Contacted by</a>
      {{else}}
        <a class="editButton" href='/cv/edit'>Create CV</a>
      {{/if}}
    {{else}}
      <a class="editButton" href="/contact?toId={{toId}}&name={{cvData.name}}">Contact</a>
    {{/if}}
</section>

</div>

{{> footer}}
