{{!< main }}
<link rel="stylesheet" type="text/css" href="../../CSS/result.css">

{{> header}}

{{#if query}}
  <p id="msg">Results for "{{query}}"</p>
{{/if}}
{{#if result}}
  {{#each result}}

  <section class="results">
    <form id='r1' action="/cv/view/{{this.userID}}" method="POST">
      <input class="submitt" type="submit" value="{{this.name}}">
    </form>  
    <p id="summary">{{this.summary}}</p>
  </section>  
  {{/each}}

{{else}}
  <p id="msg">404</p>
{{/if}}


{{> footer}}
