{{!< main }}

{{> header}}

{{#if query}}
  <p id="msg">Results for "{{query}}"</p>
{{/if}}
{{#if result}}
  {{#each result}}

    <form action="/cv/view/{{this.userID}}" method="POST">
      <input class="submit" type="submit" value="{{this.name}}">
    </form>
    <p>{{this.summary}}</p>
  {{/each}}

{{else}}
  <p>no results found.</p>
{{/if}}


{{> footer}}
